.jumbotron {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    color: #fff;
    background-image: url("jumbotron-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.navbar-brand img {
    padding: 0 0.1em;
}
.page-section {
    padding: 3rem 0;
}
#team .btn {
    margin-bottom: 2.5rem;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
h1.section-heading {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.team-member {
    margin-bottom: 3rem;
    text-align: center;
}
.team-member img {
    width: 10rem;
    height: 10rem;
    border: 0.4rem solid rgba(226, 226, 226, 0.352);
}
.team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}
#meetings, #team {
    background-color: #111;
}
.card {
    height: 100%;
}
.card .btn {
    width:100%;
}
.jumbotron a, footer a {
    color: white;
}
.jumbotron a:hover, footer a:hover {
    color: #80e8ff;
    text-shadow: 0 0 5px #80e8ff;
}