.jumbotron {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
#j-home {
    background-image: url("jumbotron-bg0.jpg");
}
#j-about {
    background-image: url("jumbotron-bg4.jpg");
}
#j-contact {
    background-image: url("jumbotron-bg2.jpg");
}
#j-events {
    background-image: url("jumbotron-bg1.jpg");
}
#j-blog {
    background-image: url("jumbotron-bg3.jpg");
}
.navbar-brand img {
    padding: 0 0.1em;
}
.page-section {
    padding: 3rem 0;
    background-color: #111;
}
#team .btn {
    margin-bottom: 2.5rem;
}
#allUpcomingEventsBtn {
    width: 100%;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
h1.section-heading {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.team-member {
    margin-bottom: 3rem;
    text-align: center;
}
.team-member img {
    width: 10rem;
    height: 10rem;
    border: 0.4rem solid rgba(226, 226, 226, 0.352);
}
.team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.card {
    height: 100%;
}
.card .btn {
    width: 100%;
}
.icon-link {
    color: white;
}
.icon-link:hover {
    color: #80e8ff;
}
.text-decoration-none {
    color: #a7efff;
}
.text-decoration-none:hover {
    color: #80e8ff;
    text-shadow: 0 0 8px white;
}
#calendar .card {
    background-color: #111;
}
#calendar .card:hover {
    background-color: #222;
}