.navbar-brand img {
    padding: 0 0.1em;
    width: 7.5em;
}
.page-section {
    padding: 3rem 0;
    background-color: #111;
}
#team .btn {
    margin-bottom: 2.5rem;
}
#allUpcomingEventsBtn {
    width: 100%;
}
.page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
h1.section-heading {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.blog-post-title {
    font-size: 2rem;
    margin-top: 3rem;
}
.team-member {
    margin-bottom: 3rem;
    text-align: center;
}
.team-member img {
    width: 10rem;
    height: 10rem;
    border: 0.4rem solid rgba(226, 226, 226, 0.352);
}
.team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.card {
    height: 100%;
}
.card .btn {
    width: 100%;
}
.icon-link {
    color: white;
}
.icon-link:hover {
    color: #80e8ff;
}
.jumbotron .text-decoration-none, footer .text-decoration-none {
    color: #a7efff;
}
.jumbotron .text-decoration-none:hover, footer .text-decoration-none:hover {
    color: #80e8ff;
    text-shadow: 0 0 8px white;
}
#calendar .card {
    background-color: #111;
}
#calendar .card:hover {
    background-color: #222;
}
#blogMenu .card {
    transition: box-shadow ease 0.5s;
}
#blogMenu .card:hover {
    box-shadow: 0px 10px 20px 2px rgba(255, 255, 255, 0.25);
}